.transport_button {
  background-color: #00000000;
  border: solid;
  border-radius: 20px;
  border-width: 2px;
  border-color: white;
  color: white;
  /* padding: 20px 0px; */
  /* width: 100%; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 28px;
  font-weight: bold;
  margin: 4px 2px;
}

.playbackComponent{
    border: solid 0px 0px 2px 0px;
}
