.movieItem{
    border-style: solid;
    border-color: white;
    border-width: 0px 0px 2px 0px;
    padding: 5px 0px 5px 0px;
}

.movieItem.active{
    border-color: white orange white orange;
    border-width: 0px 5px 2px 5px;
}

.moviePlacer a{
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.moviePlacer a:hover, a:active{
    text-decoration: none;
}

.movieTitle{
    word-break: break-word;
}

.movieThumb{

}
