.transport_button {
  background-color: #00000000;
  border: solid;
  border-radius: 20px;
  border-width: 2px;
  border-color: white;
  color: white;
  /* padding: 20px 0px; */
  /* width: 100%; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3.5vw;
  font-weight: bold;
  /* margin: 4px 2px; */
}

.transport_button.active{
    border-color: orange;
    color: orange;
}

.playbackComponent{
    border: solid 0px 0px 2px 0px;
    margin-top: 20px;
}

.modal-content{
    background-color: #333333;
}

.modal-content .btn-primary{
    background-color: orange;
    border-color: orange;
    color: #333333;
}

.timeDisplay{
    text-align: center;
    font-size: 3vw;
    margin-bottom: 0px;
}

.titleDisplay{
    text-align: center;
    font-size: 2vw;
}
